* {
    font-family: 'Noto Serif', serif;
}

.kartu{
    box-shadow: 0px 0px 13px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow: 0px 0px 13px 0px rgba(255,255,255,0.5);
    -moz-box-shadow: 0px 0px 13px 0px rgba(255,255,255,0.5);
}

.bayangan{
    box-shadow: 6px 10px 18px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 6px 10px 18px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 10px 18px -6px rgba(0,0,0,0.75);
}

.tombol{
    margin-bottom: 0px;
    margin-top: auto;
}

.link{
    text-decoration: none;
}

.navigasi{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0px;
}
